  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="btn btn-outline-danger" routerLink="/cricaver">CristianCv <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-danger" routerLink="/">Features</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-danger" routerLink="/">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-danger" routerLink="/" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>